/* Custom css */

.sapMITBContent {
    border-bottom: none !important;
}

.twobmTinyMarginTop {
    margin-top: 0.4rem!important;
}

.twobmErrorText {
    color: red!important;
}

.twobmHelpIconMarginTop {
    margin-top: 0.2rem!important;
}

.twobmErrorText {
    color: red!important;
}

.twobmTextArea {
    width: 100%!important;
}

.twobmIconTabBar .sapMITBAll .sapMITBText {
    max-width: 8rem!important;
}

.twobmIconTabBar .sapMITH {
    background-color: #F7F7F7!important;
    border-bottom: 0.125rem solid #d8dce0important;
    box-shadow: none!important;
}


.twobmIconTabBar .sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #8e9396!important;
}

.twobmZeroPaddingLeft {
	padding-left: 0px!important;
}


#__component0---LandingPage--overfoerselUdbetaling-text {
	width: auto!important;
}

#__component0---LandingPage--overfoerselUdbetaling-tab {
	width: 7.7rem!important;
}